<header>
    <div class="menu-btn">
        <span class="menu-btn__burger"></span>
    </div>
    <nav class="nav ">
        <h3 class="logo w-100 px-1 w-200">Website</h3>
        <ul class="menu-nav">
            <li class="menu-nav__item">
                <a href="#" class="menu-nav__link">Home</a>
            </li>
            <li class="menu-nav__item">
                <a href="#" class="menu-nav__link">About</a>
            </li>
            <li class="menu-nav__item">
                <a href="#" class="menu-nav__link">Services</a>
            </li>
            <li class="menu-nav__item">
                <a href="#" class="menu-nav__link">Contact Us</a>
            </li>
        </ul>
    </nav>
</header>
<script src="../../js/app.js"></script>